version: '3.8'
services:

  postgres:
    image: postgres:15-alpine
    container_name: cinehex-postgres
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - cinehex-red
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  redis-server:
    image: redis:7.4-alpine # Versión estable y ligera
    container_name: redis-test
    ports:
      - "6379:6379"
    networks:
      - cinehex-red
    # Esto configura al usuario 'default' con la contraseña y crea tu usuario extra
    command: >
      redis-server 
      --requirepass ${REDIS_PASSWORD}
      --user ${REDIS_USERNAME} on >${REDIS_PASSWORD} ~* +@all
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    
networks:
  cinehex-red:
    name: cinehex-red
    driver: bridge

volumes:
  pgdata:
